*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    max-width: 960px;
    margin: 40px auto;
    padding: 20px;
}

#invoer-sectie, #actie-knoppen{
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.invoer-veld, .actie-btn { 
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 10px;
    border: 1px solid #ccc;
}

#taak-input {
    flex: 1;
}

button {
    cursor: pointer;
}

#taken-lijst {
    list-style: none;
    padding: 0;
}

.taak-item {
    padding: 15px;
    margin-bottom: 10px;
    background: #f5f5f5;
    border-left: 4px solid #ddd;
    display: flex;
    align-items: center;
    gap: 10px;
}

.taak-titel{
    padding: 15px;
    margin-bottom: 10px;
    background: #dcdde1;
    display: flex;
    align-items: center;
    gap: 10px;
}

.taak-item span , .taak-titel strong{
    flex: 1;
}

.taak-item input, .taak-item button {
 margin: 0 20px
}

.prioriteit-hoog {
    border-left-color: #e74c3c;
}

.prioriteit-normaal {
    border-left-color: #3498db;
}

.prioriteit-laag {
    border-left-color: #2ecc71;
}

.gemarkeerd {
    background: #f9e79f;
}

.verwijder-btn {
    background: #e74c3c;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 1;
}

#teller {
    margin-top: 20px;
    padding: 10px;
    background: #ecf0f1;
    text-align: center;
}