* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 
 
body {
    font-family: Montserrat, Tahoma, Verdana, sans-serif;
    background-color: hsl(0, 0%, 85%);
}
 
 
.container {
    background-color: white;
    width: 960px;
    margin: auto;
}
 
 
.content {
    padding: 10px;
}

.content h2
{
    font-size: 1.4em;
    font-weight: normal;
    color: white;
    background-color: rgb(151, 151, 141);
    padding: 5px;
    border: 5px outset rgb(91, 90, 77);
    border-radius: 0px 20px 0px 0px;
    transform: scale(100%) ;
    transition: transform 0.3s;
}
.content h2:hover
{
    transform: scale(110%);
    
}
table {
    margin: 20px 0px;
    border: 5px ridge rgb(91, 90, 77);
    border-collapse: collapse;
}
 
th,
td {
    border: 1px solid rgb(91, 90, 77);
    padding: 5px;
    transition: background-color 0.3s;
}

table tr:hover td   
{
    background-color: rgb(151, 151, 141, 0.5);
}

header {
    height: 100px;
    padding: 20px;
    background-image: url(images/header.gif);
    background-repeat: repeat-x;
    position: relative;
    
}
.image-hover-over {
    opacity: 0;
    width: 192px;
    height: 73px;
    
    position: absolute;
    top: 10px;
    left: 20px;

    transition: opacity 0.7s;
}
.image-hover-over img
{
    width: 100%;
    display: block;

    transition: opacity 0.7s;
}
.image-hover-over:hover img
{
    opacity: 30%;
}
.image-hover-over:hover div
{
    opacity: 1;
}

.image-hover-over div
{
    background-color: #002757;
    color: white;
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: opacity 0.7s;
    opacity: 0;
}
header h1
{
    color: white;
    font-size: 50px;
    transition: translate 0.7s;
}
header:hover h1
{
    translate: 450px 0px;
}
header:hover .image-hover-over
{
    opacity: 1;
}
body p
{
    background-color: #0066DD;
    color: #DD6600;
    padding: 10px;
    height: 40px;
    overflow: hidden;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}
body > p span
{
    width: 100%;
    position: relative;
    display: inline-block;
    animation: scrolltext 6s linear infinite;

}

@keyframes scrolltext 
{
    from {transform: translateX(-10%);}
    to { transform: translateX(110%);}
}
nav {
    margin: 10px;
}
 
nav a {
    background-color: #002757;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    display: inline-block;  
    
}
nav a:hover
{
    animation: wiggle 0.4s ease;
}
@keyframes wiggle
{
    0% {transform: rotate(0deg);}
    25% {transform: rotate(5deg);}
    50% {transform: rotate(-5deg);}
    75% {transform: rotate(3deg);}
    100% {transform: rotate(0deg);}
}


