* {

 margin: 0;

 padding: 0;

 box-sizing: border-box;

}

body {

 font-family: Helvetica, Tahoma, Arial, sans-serif;

 background-color: rgb(147, 162, 243);

}

input, textarea {

 font-family: inherit;

 font-size: 1em;

}
.container
{
    background-color: white;
    width: 790px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;

}
header
{
    background-image: url(images/header.jpg);
    background-color: white;
    width:770px;
    height: 215px;
    margin: auto;
    padding-top: 10px;
    padding: 10px;
    text-align: right;
    color: #EEEEEE;
    text-shadow: -2px 2px #000;

}
header h2
{
    display: none;
}
nav
{
    margin: 10px;
}
nav ol
{
    list-style-type: none;

}
nav > ol
{
    display: flex;
    justify-content: space-evenly;
}
nav ol li
{
    position: relative;

}

nav ol li a
{
    text-decoration: none;
    color: white;
    background-color: rgb(147, 162, 243);
    height: 40px;
    width: 140px;
    display: inline-block;
    padding: 10px;
    
}
nav ol li a:hover
{
    color: rgb(101, 135, 224);
}
nav ol li ol li
{
    display: none;
}
nav ol li:hover > ol li
{
    display: block;
}
#content
{
    margin: 10px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    
}
#content article
{
    border: 1px dotted #000;
    padding: 10px;
}
#content article > h2
{
    border-bottom: 1px dotted #000;
}
#content article p
{
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
#content article p:first-of-type
{
    text-indent: 20px;
}
fieldset
{
    margin-top: 10px;
    border-radius: 10px;

}
fieldset legend
{
    margin-left: 10px;
    padding: 0px 10px;

}
input[type="text"],
input[type="email"],
input[type="multiline"],
textarea
{
    border: 1px solid #555;
    border-radius: 20px/10px;
    margin: 10px;
    padding: 5px;


}
fieldset form div
{
    display: flex;
    align-items: center;
}
fieldset form label
{
    display: inline-block;
    width: 120px;
    text-align: right;

}

