*{

 margin: 0;

 padding: 0;

}

body {

 font-family: Verdana, Tahoma, sans-serif;

 background-color: #317082;

}

input{

 font-family: inherit;

 font-size: 1em;

}
#container
{
    width: 945px;
    padding: 20px;
    margin: auto;
    background-color: #FFFFFF;
}
header h1
{
    background-color: #317082;
    color: #FFFFFF;
    font-weight: normal;
    padding: 10px 20px 10px 20px;
    text-shadow: 2px 2px #000;
    border-radius: 10px;
    box-shadow: 2px 2px #317082;
    margin-bottom: 20px;
}
header ol
{
 list-style-type: none;
 
}
header li
{
    background-color: #317082;
    display: inline-block;
    border-top-left-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    border-bottom-left-radius: 10px 5px;
    border-bottom-right-radius: 10px 5px;
    
}
header li a
{
    text-decoration: none;
    color: white
}