*{

 margin: 0;

 padding: 0;

}

body {

 font-family: Verdana, Tahoma, sans-serif;

 background-color: #317082;

}

input{

 font-family: inherit;

 font-size: 1em;

}
#container
{
    width: 945px;
    padding: 20px;
    margin: auto;
    background-color: #FFFFFF;
}
header h1
{
    background-color: #317082;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    text-shadow: 2px 2px #000;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #317082;
    margin-bottom: 20px;
}
header nav
{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
header nav ol
{
    list-style-type: none;
    display: inline;
}
header nav ol li
{
    background-color: #317082;
    display: inline;
    padding: 5px 10px;
    border-top-left-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    border-bottom-left-radius: 10px 5px;
    border-bottom-right-radius: 10px 5px;
}
header nav ol li a
{
    text-decoration: none;
    color: white
}
header nav ol:hover
{
    background-color: #000;
}
header nav ol:hover li a
{
    color: #000;
}
header nav ol li a:hover 
{
    color: #FFFFFF;
}
#banner
{
    background-image:url(images/banner.jpg);
    width: 905px;
    height: 214px;
    margin-bottom: 20px;
}
#banner p
{
    width: 280px;
    height: 214px;
    padding: 20px;
    color: #FFFFFF;
    box-sizing: border-box;
}
#banner p::first-letter
{
    font-size: 1.5em;
    font-weight: bold;
}
#content h2
{
    font-size: 1.4em;
    font-weight: normal;
    font-style: italic;
    background-color: hsl(192, 45%, 35%);
    color: #FFFFFF;
    padding: 5px;
    border: 5px outset hsl(192, 45%, 25%);
    border-top-right-radius: 20px;
}
#content p
{
    border-bottom: 2px dotted hsl(192, 45%, 25%);
    padding: 10px 0px;
    margin: 0px 5px;
}
#content table
{
    text-align: center;
}
table
{
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 4px ridge hsl(192, 45%, 25%);

}
table th, table td
{
    border: 1px solid hsl(192, 45%, 25%);
    padding: 5px;
}
table th
{
    font-weight: normal;
    text-transform: uppercase;
}
table tr:hover td
{
    background-color: rgb(49, 112, 130, 0.5);
}
fieldset
{
    border: 3px double #000;
    border-radius: 10px;
    padding: 20px;
}
legend
{
    border: 3px double #000;
    border-radius: 10px;
    padding: 0px 10px;
}
input[type="text"],
input[type="email"],
textarea
{
    border: 2px solid hsl(192,45%,25%);
    padding: 5px;
    border-radius: 10px/5px;
    margin: 5px;
    box-shadow: inset 0 0 4px #000;

}
input[type="submit"]
{
    border: 2px solid hsl(192,45%,25%);
    padding: 5px;
    border-radius: 10px;
    background-color: #317082;
    font-weight: bold;
    text-transform: capitalize;
    box-shadow: 5px 5px 0px #317082;
    margin: 5px;
}
input[type="text"]:hover,
input[type="email"]:hover,
textarea
{
    box-shadow: inset 0 0 8px #000;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea
{
    background-color: rgb(49, 112, 130, 0.5);
    box-shadow: inset 0 0 8px #000;
}

